# Copyright (c) 2023 - 2026 Chair for Design Automation, TUM
# Copyright (c) 2025 - 2026 Munich Quantum Software Company GmbH
# All rights reserved.
#
# SPDX-License-Identifier: MIT
#
# Licensed under the MIT License

mqt.core~=4.0.0
qiskit[visualization]~=2.5.0
jupyterlab
mlir-pygments>=1
openqasm-pygments>=0.2
